# vscode settings
.vscode/

# test csv file
*.csv

# visual studio binary files
*.exe
*.pdb
*.obj
*.tlog
*.ilk
*.odb
*.lib

# visual studio cache files
*.suo
*.db

# vs extension files
*.vsix
*.vsidx

# copilot chat cache and log file
copilot*/
*.tlog

# library files
v17/
v18/
*.ipch

*.bat